<nav id="sidebar-icon-links">
  <!-- {% if site.socials.github_profile %}
  <a id="github-link" class="icon" title="Github Profile" aria-label="Github Profile"
    href="{{ site.socials.github_profile }}">
    {% include svg/github.svg %}
  </a>
  {% endif %}

  {% if site.socials.linkedin_profile %}
  <a id="linkedin-link" class="icon" title="Linkedin Profile" aria-label="Linkedin Profile"
    href="{{ site.socials.linkedin_profile }}">
    {% include svg/linkedin.svg %}
  </a>
  {% endif %} -->

  {% include custom-icon-links.html %}
</nav>
